.btn {
  border-radius: 72px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  &-orange {
    background-color: $orange;
    color: $white;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18.5px 50px;
    transition: $tran;
    &:hover {
      background-color: $orangeH;
    }
  }
}
.container {
  max-width: 1170px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.section {
  &-titile {
    font-size: 46px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 57px;
  }
}

@include m1024 {
  .container {
    max-width: 840px;
  }
  .section {
    &-titile {
      font-size: 32px;
      line-height: 40px;
    }
  }
}

@include m768 {
  .container {
    max-width: 570px;
  }
  .section {
    &-titile {
      font-size: 24px;
      line-height: 28px;
    }
  }
  .btn-orange {
    padding: 11px 31px;
    font-size: 14px;
  }
}
@include m576 {
  .section-titile {
    font-size: 20px;
  }
}